 button {
        background-color: rgb(7, 7, 170);
        color: white;
        border: none;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 8spx;
        padding-right: 8px;
        border-radius: 2px;
        cursor: pointer;
        transition: opacity 0.15s;
        font-weight: bold;
        font-size: 13px;
        vertical-align: top;
 }
        